a, a:link, a:hover {
    text-decoration: none;
}

.oac-header{
	background-color: #306232;
	width: 100%;
	height: 90px;
	display: table;
    padding: 0px;
	margin-bottom: 60px;
	transition: all 5s;
	position: relative;
	z-index: 102;
}

.oac-topo {
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 150;
    display: table;
    margin: 0px auto;
    padding-top: 0px;
    text-align: center;
}

.oac-ic_mobile{
    display: none;
}

.oac-header .header-align-items-center{
	margin-top: 25px;
}

.oac-topo-reduzido{
    background: #306232;
    width: 100%;
    height: 60px;
    transition: all 0.4s ease-out;
}

.oac-topo-reduzido .header-align-items-center{
	margin: 0;
}

.oac-topo-reduzido .oac-menu{
	margin-top: 10px;
}

.oac-topo-reduzido .oac-logotipo{
	margin-top: 5px;
}

.oac-topo-reduzido .oac-logotipo img{
	width: 220px;
}

.oac-topo-reduzido .oac-acesso-rapido{
	height: 60px;
}

.oac-topo-reduzido .oac-menu-acesso-rapido li,
.oac-topo-reduzido .oac-menu-acesso-rapido li:first-child + li{
	height: auto;
	padding-top: 18px !important;
	padding-bottom: 18px !important;
}

.oac-topo-reduzido .oac-menu-acesso-rapido li span{
	display: none;
}

.oac-topo-reduzido .m-ver-mais .dropdown{
	top: 9px;
}

.oac-logotipo{
	margin-top: 15px;
}

.oac-logotipo img{
	transition: all 5s;
}

#menu-lista{
    list-style: none;
    margin: 0;
    padding: 0;
}

.oac-acesso-rapido{
	margin-top: 0;
    height: 90px;
}

.oac-menu-acesso-rapido{
	list-style: none;
    margin: 0;
    padding: 0;
    height: inherit;
}

.oac-menu-acesso-rapido li{
    position: relative;
    height: 46px;
    margin-right: 10px;
	display: inline-block;
    vertical-align: top;
}

.oac-menu-acesso-rapido li:first-child{
	background: #FF6A33;
    height: inherit;
    padding: 22px 10px;
}

.oac-menu-acesso-rapido li a{
	color: #FFF;
}

.oac-menu-acesso-rapido li:hover:after {content: ""; width: 100%; position: absolute; left: 0; bottom: 0px; border-bottom: solid 5px #568956; display: inline-block;}
.oac-menu-acesso-rapido li:first-child + li .mr-titulo:before,
.oac-menu-acesso-rapido li:first-child + li .mr-titulo:after {content: ""; position: absolute; height: 8px; bottom: 2px; border-left: solid 1px #fff; display: inline-block;}
.oac-menu-acesso-rapido li:first-child + li .mr-titulo:before {left: -10px;}
.oac-menu-acesso-rapido li:first-child + li .mr-titulo:after {right: -10px;}

.oac-menu-acesso-rapido li:first-child + li {
    margin: 0px 10px;
    height: inherit;
    padding: 22px 10px;
}

.oac-menu-acesso-rapido li:nth-child(3) {
    margin-left: 10px;
    height: inherit;
    padding: 22px 0px;
}

.oac-menu-acesso-rapido li i{
	text-align: center;
	display: block;
}

.oac-menu-acesso-rapido li span{
	font: 12px/100% 'Raleway', sans-serif;
    position: relative;
    margin-top: 0px;
    text-transform: uppercase;
    width: 100%;
    display: inline-block;
}

.m-ver-mais {
    position: relative;
    padding-left: 30px;
}
.m-ver-mais .dropdown {
    display: block;
    width: 364px;
    height: auto;
    background-color: #fff;
    border: solid 1px #ccc;
    position: absolute;
    right: -1px;
    top: 23px;
    padding: 15px 0px 0px 0px;
    overflow-x: hidden;
    z-index: 101;
    border-top: none;
}
.m-ver-mais .dropdown > li {
    text-align: left;
}
.menu-lista .dropdown .m-ico-dropdown {
    padding: 15px 40px 15px 40px;
}
.m-ver-mais .dropdown .m-item-editoria {
    padding: 15px 85px 15px 20px;
}
.m-ver-mais .dropdown .m-item-editoria a {
    font: 14px/100% 'Raleway', sans-serif;
    font-weight: 600;
    color: #306232;
    display: block;
    text-transform: uppercase;
}
.m-ver-mais .dropdown .m-item-editoria a:hover{
	color: #568956;
}

.m-ver-mais .dropdown .m-ico-dropdown{
	padding: 15px 40px 15px 20px;
}

.m-ver-mais .dropdown .m-ico-dropdown a {
    cursor: pointer;
    position: relative;
    padding-right: 45px;
}

.m-ver-mais .dropdown .m-ico-dropdown > a:after {
    width: 10px;
    height: 10px;
    right: 5px;
    top: 4px;
    content: "";
    border-left: 1px solid #717171;
    border-top: 1px solid #717171;
    display: inline-block;
    font-size: 10px;
    overflow: hidden;
    position: absolute;
    -ms-transform: rotate(-145deg) skew(-20deg);
    -webkit-transform: rotate(-145deg) skew(-20deg);
    transform: rotate(-145deg) skew(-20deg);
    -webkit-transition: transform 0.5s ease-in-out, top 0.5s;
    transition: transform 0.5s ease-in-out, top 0.5s;
}

.m-ver-mais .dropdown .m-ico-dropdown ul{
	list-style: none;
    display: none;
    height: auto;
    padding-top: 10px;
    padding-left: 0;
}

.m-ver-mais .dropdown ul.sub-dropdown-open{
	display: block;
	list-style: none;
    height: auto;
    padding-top: 10px;
    padding-left: 0;
}

.m-ver-mais .dropdown .sub-dropdown li {
    padding: 15px 0px 15px 0px;
}

.m-ver-mais .dropdown .sub-dropdown li a {
    font-size: 14px;
    color: #5a5a5a;
    font-weight: 300;
}

.oac-search-box{
	margin: -30px 0 0 -25%;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    z-index: 100;
}

.oac-search-box form #query{
	background: none;
    border: 0;
    color: #fff;
    font-size: 50px;
    font-weight: 400;
    line-height: 1;
    padding: 6px 20px;
    text-transform: uppercase;
    width: 100%;
    border-bottom: 1px solid #FFF;
}

.oac-opacidade-menu {
    background-color: #000000;
    height: 100%;
    opacity: .85;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 15;
}

.oac-publi{
	background: url(../oac-v1/assets/images/bg-c-publi.png) 0 0 repeat;
    float: left;
    margin: 0 0 30px 0;
    padding: 0;
    position: relative;
    text-align: center;
    width: 100%;
    max-width: inherit;
    height: auto;
}
.oac-publi span,
.oac-publi-meia-pagina span,
.oac-publi-retangulo-medio span{
    color: #969696;
    font-size: 8px;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    background-color: transparent;
    display: block;
    position: absolute;
    text-align: right;
    top: -12px;
    right: 0;
    width: 100%;
}

.oac-publi-meia-pagina{
    position: relative;
    background: url(../oac-v1/assets/images/bg-c-publi.png) 0 0 repeat;
    margin: 0 0 30px 0;
    height: auto;
    padding: 88px 0;
    text-align: center;
}

.oac-publi-retangulo-medio{
    position: relative;
    background: url(../oac-v1/assets/images/bg-c-publi.png) 0 0 repeat;
    margin: 0 0 30px 0;
    height: auto;
    padding: 68px 0;
    text-align: center;
}

.oac-destaque{
    overflow: hidden;
    border-radius: 4px;
}

.oac-destaque-esquerdo{
	position: relative;
    width: 100%;
    height: 560px;
    margin-bottom: 30px;
    z-index: 9;
}

.oac-destaque-direito{
    position: relative;
    width: 100%;
    height: 270px;
    margin-bottom: 20px;
    z-index: 9;
}

.oac-destaque .legenda{
	position: absolute;
    text-transform: uppercase;
    padding: 20px;
    color: #fff;
    z-index: 2;
}

.oac-destaque .legenda span{
    font-size: .8em;
}

.oac-destaque .legenda:after{
	content: ""; position: relative; width: 100%; height: 1px; bottom: 10px; border-bottom: solid 3px #306232; display: inline-block;
}

.oac-destaque figure{
	width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.oac-destaque a:hover figure {
    -webkit-transform: scale(0);
    transform: scale(1.2);
}

.oac-destaque .sombra{
	height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
    bottom: 0;
    cursor: pointer;
    background: linear-gradient(to top,rgba(0,0,0,.7)0,rgba(0,0,0,.5)70%,transparent 100%);
}

.oac-destaque .titulo{
	position: absolute;
    padding: 20px;
    margin: 0px auto;
    bottom: 0px;
    transition: all 0.4s ease-out;
    z-index: 2;
}

.oac-destaque .titulo h1{
    color: #fff;
    font-weight: 600;
    text-shadow: 0 1px 3px rgba(0,0,0,.8);
    font-size: 1.8em;
}

.oac-destaque-direito .titulo h1{
    font-size: 1.2em;
}

.bloco-container-1, 
.bloco-container-2,
.bloco-container-3,
.bloco-container-4,
.bloco-container-5,
.bloco-container-6{
    display: flex;
    margin-bottom: 30px;
}

.bloco-container-1 .chamada, 
.bloco-container-2 .chamada,
.bloco-container-3 .chamada,
.bloco-container-4 .chamada,
.bloco-container-5 .chamada,
.bloco-container-6 .chamada{
    position: relative;
    overflow: hidden;
    width: 100%;
}

.bloco-container-1 .chamada .picture{
    position: relative;
    width: 365px;
    height: 245px;
    background: #f5f5f5;
    float: left;
    z-index: 1;
}

.bloco-container-2 .chamada .picture{
    position: relative;
    width: 380px;
    height: 360px;
    background: #f5f5f5;
    float: left;
    z-index: 1;
}

.bloco-container-3 .chamada .picture{
    position: relative;
    width: 177px;
    height: 177px;
    background: #f5f5f5;
    float: left;
    z-index: 1;
}

.bloco-container-4 .chamada .picture{
    position: relative;
    width: 265px;
    height: 177px;
    background: #f5f5f5;
    float: left;
    z-index: 1;
}

.bloco-container-5 .chamada .picture{
    position: relative;
    width: 160px;
    height: 105px;
    background: #f5f5f5;
    float: left;
    z-index: 1;
}

.bloco-container-6 .chamada .picture{
    position: relative;
    width: 170px;
    height: 130px;
    background: #f5f5f5;
    float: left;
    z-index: 1;
}

.bloco-container-1 .chamada .picture:before, 
.bloco-container-2 .chamada .picture:before,
.bloco-container-3 .chamada .picture:before,
.bloco-container-4 .chamada .picture:before,
.bloco-container-5 .chamada .picture:before,
.bloco-container-6 .chamada .picture:before{
    content: "";
    display: block;
    padding-top: 100%;
}

.bloco-container-1 .chamada figure, 
.bloco-container-2 .chamada figure,
.bloco-container-3 .chamada figure,
.bloco-container-4 .chamada figure,
.bloco-container-5 .chamada figure,
.bloco-container-6 .chamada figure{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
}

.bloco-container-1 .chamada section, 
.bloco-container-2 .chamada section,
.bloco-container-3 .chamada section,
.bloco-container-4 .chamada section,
.bloco-container-5 .chamada section,
.bloco-container-6 .chamada section{
    position: relative;
    height: 100%;
    border: solid 1px #e6e6e6;
}

.bloco-container-1 .chamada section h3, 
.bloco-container-2 .chamada section h3,
.bloco-container-3 .chamada section h3,
.bloco-container-4 .chamada section h3,
.bloco-container-5 .chamada section h3{
    z-index: 1;
    width: 100%;
    border-top: solid 2px;
    color: #fff;
    transition: border-color .25s ease-out;
    border-color: #306232;
    top: 0;
    font-size: xx-small;
}

.bloco-container-1 .chamada section h3 span,
.bloco-container-2 .chamada section h3 span,
.bloco-container-3 .chamada section h3 span,
.bloco-container-4 .chamada section h3 span,
.bloco-container-5 .chamada section h3 span{
    display: inline-block;
    background: #306232;
    font-size: 1.013em;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    transition: background .25s ease-out;
    padding: 5px;
}

.bloco-container-6 .chamada section h3{
	z-index: 1;
    width: 100%;
    color: #fff;
    transition: border-color .25s ease-out;
    font-size: xx-small;
    bottom: -2px;
    left: -2px;
    position: absolute;
    margin: 0;
}

.bloco-container-6 .chamada section h3 span{
	display: inline-block;
    background: #306232;
    font-size: 1.013em;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    transition: background .25s ease-out;
    padding: 5px;
}

.bloco-container-1 .chamada section h1{
    position: relative;
    color: #306232;
    position: relative;
    transition: color .25s ease-out;
    font: bold 1.575em/130% "Raleway", sans-serif;
    z-index: -1;
    top: -10px;
}

.bloco-container-1 .chamada section h1 span{
    width: auto;
    padding: 16px 20px 0 20px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 30px;
}

.bloco-container-2 .chamada section h1{
    position: relative;
    color: #306232;
    position: relative;
    transition: color .25s ease-out;
    font: bold 1.275em/130% "Raleway", sans-serif;
    z-index: -1;
}

.bloco-container-2 .chamada section h1 span{
    width: auto;
    padding: 16px 20px 0 20px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 30px;
}

.bloco-container-3 .chamada section h1{
    position: relative;
    color: #306232;
    position: relative;
    transition: color .25s ease-out;
    font: bold 0.775em/130% "Raleway", sans-serif;
    z-index: -1;
}

.bloco-container-3 .chamada section h1 span{
    width: auto;
    padding: 16px 20px 0 20px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 30px;
}

.bloco-container-4 .chamada section h1{
    position: relative;
    color: #306232;
    position: relative;
    transition: color .25s ease-out;
    font: bold 0.975em/130% "Raleway", sans-serif;
    z-index: -1;
}

.bloco-container-4 .chamada section h1 span{
    width: auto;
    padding: 16px 20px 0 20px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 30px;
}

.bloco-container-5 .chamada section h1{
    position: relative;
    color: #306232;
    position: relative;
    transition: color .25s ease-out;
    font: bold 0.975em/130% "Raleway", sans-serif;
    z-index: -1;
}

.bloco-container-5 .chamada section h1 span{
    width: auto;
    padding: 16px 20px 0 20px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 30px;
}

.bloco-container-6 .chamada section h1{
    position: relative;
    color: #306232;
    position: relative;
    transition: color .25s ease-out;
    font: 0.725em/130% "Raleway", sans-serif;
    z-index: -1;
}

.bloco-container-6 .chamada section h1 span{
    width: auto;
    padding: 16px 20px 0 20px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 30px;
}

.bloco-container-1 .chamada section h4,
.bloco-container-2 .chamada section h4,
.bloco-container-3 .chamada section h4,
.bloco-container-4 .chamada section h4{
    position: relative;
    color: #666;
    position: relative;
    transition: color .25s ease-out;
    font: 0.975em/130% "Raleway", sans-serif;
    z-index: -1;
    top: -10px;
}
.bloco-container-1 .chamada section h4 span,
.bloco-container-2 .chamada section h4 span,
.bloco-container-3 .chamada section h4 span,
.bloco-container-4 .chamada section h4 span{
    width: auto;
    padding: 16px 20px 0 20px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 30px;
}

.container-video{
    height: 620px;
}

.header-video{
	background-color: #306232;
	width: 100%;
	padding: 15px 0;
	text-align: center;
	position: absolute;
    left: 0;
    z-index: 1;
}

.body-video{
	background-color: #000;
	width: 100%;
	padding: 15px 0;
	margin: 55px 0 40px;
    min-height: 500px;
	position: absolute;
    left: 0;
    z-index: 1;
}

.body-video iframe{
    width: 100%;
    height: 420px;
}

.oac-video{
    overflow: hidden;
    border-radius: 4px;
}

.oac-video-esquerdo{
	position: relative;
    width: 100%;
    height: 420px;
    margin: 30px 0;
    z-index: 9;
}

.oac-video a:hover .sombra {
    background: linear-gradient(to right top,rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 15%,rgba(0,0,0,0.1) 55%,rgba(0,0,0,0) 75%,rgba(0,0,0,0) 100%);
}

.oac-video a:hover .play{
	-webkit-transform: scale(0);
    transform: scale(1.2);
}

.oac-video .play{
	background-image: url('../oac-v1/assets/images/ic_play.svg');
	background-repeat: no-repeat;
	width: 90px;
	height: 90px;
	position: absolute;
	margin-top: -50px;
    margin-left: -45px;
    top: 50%;
    left: 50%;
	z-index: 2;
	-webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    border-radius: 2px;
}

.oac-video figure{
	width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
}

.oac-video .sombra{
	height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
    bottom: 0;
    cursor: pointer;
    background: linear-gradient(to top,rgba(0,0,0,.7)0,rgba(0,0,0,.5)70%,transparent 100%);
}

.oac-video .legenda{
    z-index: 1;
    width: 100%;
    color: #fff;
    transition: border-color .25s ease-out;
    top: 0;
    font-size: x-small;
}

.oac-video .legenda h1{
    color: #fff;
    font-weight: 600;
    text-shadow: 0 1px 3px rgba(0,0,0,.8);
    font-size: 1.4em;
}

.oac-video .titulo{
	position: absolute;
    padding: 20px;
    margin: 0px auto;
    bottom: 0px;
    transition: all 0.4s ease-out;
    z-index: 2;
}

.oac-video .titulo h1{
    color: #fff;
    font-weight: 600;
    text-shadow: 0 1px 3px rgba(0,0,0,.8);
    font-size: 1.4em;
}

.oac-video-direito:first-child{
	margin: 55px 0 30px 0;
}

.oac-video-direito{
	margin: 33px 0;
    height: 95px;
    overflow-y: hidden;
}

.oac-video-direito .picture{
	float: left;
	width: 160px;
	height: 95px;
	position: relative;
}

.oac-video-direito a:hover .play {
    -webkit-transform: scale(0);
    transform: scale(1.2);
}

.oac-video-direito .play{
	background-image: url('../oac-v1/assets/images/ic_play_color.svg');
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
	position: absolute;
	margin-top: -20px;
    margin-left: -20px;
    top: 50%;
    left: 50%;
	z-index: 2;
	-webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    border-radius: 2px;
}

.oac-video-direito figure{
	width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2px;
}

.oac-video-direito section h3{
    z-index: 1;
    width: 100%;
    color: #fff;
    transition: border-color .25s ease-out;
    top: 0;
    font-size: xx-small;
}
.oac-video-direito section h3 span{
    display: inline-block;
    background: #306232;
    font-size: 1.013em;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    transition: background .25s ease-out;
    padding: 5px;
    margin-left: 15px;
}

.oac-video-direito section h1{
    position: relative;
    color: #FFF;
    position: relative;
    transition: color .25s ease-out;
    font: 500 .875em/130% "Raleway", sans-serif;
    z-index: -1;
    top: -10px;
}
.oac-video-direito section h1 span{
    width: auto;
    padding: 16px 0px 0 20px;
    display: table-cell;
    vertical-align: middle;
}

.oac-populares{
	border: 1px solid #e6e6e6;
    padding: 35px 30px 30px;
    width: 100%;
    margin-bottom: 30px;
}

.oac-populares .titulo-box{
	position: absolute;
    top: 26px;
    font-size: 28px;
    margin: 0 0 35px 0;
    padding: 0 10px;
    display: table;
    border-left: 1px solid #306232;
    border-right: 1px solid #306232;
    color: #306232;
    font: bold 24px/75% 'Raleway',sans-serif;
}

.oac-populares .sub-editorias{
	width: 100%;
    display: block;
    margin: 30px 0 25px;
}

.oac-populares .sub-editorias a:first-child {
    margin-left: 0;
}

.oac-populares .sub-editorias a{
	margin: 0 20px;
}

.oac-populares .sub-editorias a{
	display: inline-block;
    text-transform: uppercase;
    color: #5a5a5a;
    font-size: 15px;
    font-family: "Raleway", sans-serif;
}

.oac-populares .sub-editorias a:hover{
	color: #222;
}

.oac-mais-lidas{
	border: 1px solid #e6e6e6;
    padding: 35px 30px 30px;
    width: 100%;
    margin-bottom: 30px;
}

.oac-mais-lidas .titulo-box{
	position: relative;
    top: -10px;
    font-size: 28px;
    margin: 0;
    padding: 0 10px;
    display: table;
    color: #306232;
    font: bold 24px/75% 'Raleway',sans-serif;
}

.oac-mais-lidas ol{
	list-style: none;
	margin: 0;
    padding: 0
}

.oac-mais-lidas ol li{
	border-bottom: 1px solid #e6e6e6;
    padding: 15px 0 10px 0;
    width: 100%;
}

.oac-mais-lidas ol li:last-child{
	border: none;
}

.oac-mais-lidas ol li span{
	font: 200 2.250em 'Raleway', serif;
    color: #969696;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 40px;
}

.oac-mais-lidas ol li .chamada{
	display: table-cell;
    vertical-align: middle;
    border-left: 1px solid #e6e6e6;
    padding-left: 0.938em;
}

.oac-mais-lidas ol li .chamada span{
    height: 15px;
    width: 100%;
    overflow: hidden;
    text-transform: uppercase;
    color: #6E6E6E;
    font: 300 0.813em/20px "Raleway",sans-serif;
    position: relative;
    padding: 0;
}

.oac-mais-lidas ol li .chamada h1{
	font: 400 0.8365em/1.111em "Source Sans Pro",sans-serif;
    color: #306232;
    overflow: hidden;
}

.footer-bar{
	position: absolute;
	left: 0;
	width: 100%;
	background-color: #568956;
	color: #FFF;
	padding: 25px 0;
	margin-bottom: 30px;
}

.footer-bar h1{
	font: bold 30px/75% 'Raleway',sans-serif;
	margin-left: 80px;
    margin-top: 8px;
}

.footer-bar .icons{
	margin-left: 40px;
}

.footer-bar .icons a:hover{
	opacity: 0.9
}

.footer-bar .icons i{
	color: #FFF;
	font-size: 2em;
	margin-left: 25px;
}

footer{
    text-align: left;
    width: 100%;
    margin-top: 90px;
}

footer ul{
    list-style: none;
    padding: 0;
}

footer ul li{
    display: table-cell;
    padding: 20px 25px 0 0;
    text-align: center;
}

footer ul li a{
    color: #306232;
    float: left;
    font: 400 14px/100% 'Raleway', sans-serif;
    letter-spacing: 0.75px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}
footer ul li a:hover{
    color: #222;
}

footer .funcional{
    border-bottom: solid 1px #e6e6e6;
    display: table;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

footer .copyright{
    font: 400 14px/100% 'Raleway', sans-serif;
    margin: 15px 0 40px;
    text-align: center;
    color: #969696;
}

/* page article */
.oac-article{
	
}

.oac-article .header{
	border-top: 1px solid #306232;
    text-align: center;
    margin: 0 auto 40px;
    width: 100%;
}

.oac-article .header .legenda{
	margin: 0;
    padding: 0;
    font-size: inherit;
}

.oac-article .header .legenda span {
    background-color: #306232;
    color: #fff;
    display: inline-block;
    font-family: "Raleway",sans-serif;
    font-size: 13px;
    padding: 5px;
    text-transform: uppercase;
}

.oac-article .header h1{
	clear: both;
    float: none;
    color: #306232;
    font: 600 36px/120% "Raleway", serif;
    margin: 30px auto 20px;
    width: 100%;
}

.oac-article .header h2{
	color: #5a5a5a;
    font-family: "Raleway" ,sans-serif;
    font-size: 18px;
    line-height: 150%;
    margin: 0 auto 20px;
    width: 100%;
}

.oac-article .creditos{
	border: 1px solid #e6e6e6;
    border-left: none;
    border-right: none;
    margin: 0 auto 30px;
    width: 100%;
    padding: 5px 0;
}

.oac-article .creditos ul{
	list-style: none;
	display: inline-block;
	margin: 0;
}

.oac-article .creditos li{
    color: #444;
    display: inline-block;
    font-size: 14px;
    margin: 0;
    padding-right: 6px;
}

.oac-article .creditos li + li {
    padding-left: 6px;
}

.oac-article .compartilhar{
	width: 100%;
    height: 70px;
    display: table;
    text-align: center;
    border-top: solid 1px #e6e6e6;
}

.oac-article .compartilhar ul{
	display: inline-block;
    position: relative;
    margin: 20px 24px 0px 0px;
}

.oac-article .compartilhar li, 
.oac-article .compartilhar-footer li{
	display: inline-block;
    margin: 0;
    padding-right: 24px;
}

.oac-article .compartilhar a,
.oac-article .compartilhar-footer a{
	-webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.oac-article .compartilhar a:hover i,
.oac-article .compartilhar-footer a:hover i{
	-webkit-transform: scale(0);
    transform: scale(1.2);
}

.oac-article .compartilhar ul li i,
.oac-article .compartilhar-footer ul li i{
	font-size: 24px;
}

.oac-article .compartilhar ul li i.facebook,
.oac-article .compartilhar-footer ul li i.facebook{
	color: #325c99;
}

.oac-article .compartilhar ul li i.twitter,
.oac-article .compartilhar-footer ul li i.twitter{
	color: #02acec;
}

.oac-article .compartilhar ul li i.gplus,
.oac-article .compartilhar-footer ul li i.gplus{
	color: #EA4335;
}

.oac-article .compartilhar ul li i.email,
.oac-article .compartilhar-footer ul li i.email{
	color: #bbb;
}

.oac-article .compartilhar ul li i.whats,
.oac-article .compartilhar-footer ul li i.whats{
	color: #25e47a;
}

.oac-article .compartilhar-footer{
	border-bottom: 1px solid #e6e6e6;
    float: left;
    margin: 15px 0 50px 0;
    text-align: center;
    width: 100%;
}

.oac-article .compartilhar-footer ul{
	list-style: none;
	display: inline-block;
	background-color: #fff;
    border: 1px solid #e6e6e6;
    color: #2ea3b4;
    display: inline-block;
    font: 400 14px/100% "Raleway",sans-serif;
    letter-spacing: 0.65px;
    margin: 0 auto;
    padding: 5px 8px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: 14px;
}

.oac-article .compartilhar-footer ul li:last-child{
	padding-right: 0;
}

.oac-article .imagem{
    margin: 0;
    position: relative;
    width: 100%;
    display: block;
}

.oac-article .imagem img{
	width: 100%;
}

.oac-article img.alignnone{
    width: 100%;
    height: auto;
}

.oac-article, .oac-page{
	margin-bottom: 60px;
}

.oac-article .article-text p,
.oac-page .page-text p{
    color: #444;
    font-family: 'Raleway' ,sans-serif;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 12px;
    text-align: justify;
}

.oac-article .article-text ul li, 
.oac-page .page-text ul li{
    position: relative;
    margin-bottom: 16px;
    padding-left: 25px;
    color: #444;
    font-family: 'Raleway' ,sans-serif;
    font-size: 18px;
    line-height: 30px;
}

.oac-article .article-text h2, 
.oac-page .page-text h2{
    font: 600 27px/100% "Raleway",sans-serif;
    letter-spacing: 0.65px;
    margin-top: 1rem;
    line-height: 1.75rem;
}

.oac-article .article-text h3, 
.oac-page .page-text h3{
    font: 600 24px/100% "Raleway",sans-serif;
    letter-spacing: 0.65px;
    margin-top: 1rem;
    line-height: 1.75rem;
} 

.oac-article .article-text h4, 
.oac-page .page-text h4{
    font: 600 18px/100% "Raleway",sans-serif;
    letter-spacing: 0.65px;
    margin-top: 1rem;
    line-height: 1.75rem;
} 

.oac-article .article-public{
	position: relative;
	top: 0;
	margin: 0;
}

.oac-article-mais-lidas{
    float: left;
    margin-bottom: 20px;
    width: 100%;
}

.oac-article-mais-lidas .header a{
	margin: 0 0 35px 0;
    padding: 0 10px;
    display: table;
    border-left: 1px solid #306232;
    border-right: 1px solid #306232;
    color: #306232;
    font: 400 34px/75% 'Raleway',sans-serif;
    text-transform: lowercase;
}

.oac-article-mais-lidas .header a span{
	font-weight: 700;
	margin-left: 10px;
}

.oac-page .header{
    border-bottom: 1px solid #e6e6e6;
    border-left: none;
    border-right: none;
    margin-bottom: 40px;
}

.oac-page .header h1{
    clear: both;
    float: none;
    color: #306232;
    font: 400 36px/120% "Raleway", serif;
    margin: 30px auto 20px;
    width: 100%;
    text-transform: uppercase;
}

.oac-page .header h2{
    color: #adadad;
    font-family: "Raleway" ,sans-serif;
    font-size: 18px;
    line-height: 150%;
    margin: 0 auto 20px;
    width: 100%;
    text-transform: uppercase;
}

.oac-cat .header{
    border-bottom: 1px solid #e6e6e6;
    border-left: none;
    border-right: none;
    margin-bottom: 40px;
}

.oac-cat .header h1{
    clear: both;
    float: none;
    color: #306232;
    font: 400 36px/120% "Raleway", serif;
    margin: 30px auto 20px;
    width: 100%;
    text-transform: uppercase;
}

.oac-cat .itens{margin: 20px 0 60px; padding: 0; position: relative;width: 100%;}
.oac-cat .itens li:first-child{border: none;}
.oac-cat .itens li{border-top: 1px solid #e6e6e6;overflow: hidden;padding-bottom: 12px;padding-top: 12px;margin-bottom: 10px;}
.oac-cat .itens li a {display: block;text-decoration: none; color: #000;}
.oac-cat .itens li a .data{border-right: 1px solid #e6e6e6;float: left; height: 220px; margin-right: 25px;text-align: center;width: 77px;}
.oac-cat .itens li a .data p{font-size: 13px;top: 50%; margin-top: -15px; position: relative; text-transform: uppercase;}
.oac-cat .itens li a .imagem{float: left;margin-right: 12px;overflow: hidden;position: relative;top: 5px; display: block;}
.oac-cat .itens li a .imagem img{width: 275px; height: auto;}
.oac-cat .itens li .legenda{
    font: 400 14px/120% "Raleway", serif;
    color: #306232;
    letter-spacing: -0.02em;
    line-height: 14px;
    padding: 6px 0 0;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.oac-cat .itens li h1{
    font: bold 1.2em/120% "Raleway", serif;
    letter-spacing: -0.02em;
    padding: 6px 0;
    color: #306232;
}
.oac-cat .itens li .resumo{
    font: 400 13px/120% "Raleway", serif;
    color: #666;
}

.oac-cat .itens li i{
    font-size: 0.9em;
    color: #666;
    margin-right: 10px;
}

.oac-cat .itens li span{
    font: 400 11px/120% "Raleway", serif;
    color: #666;
}

/* Rules mobile 1024px */
@media only screen and (max-width: 1024px){
    .publi-970x90{
        overflow-x: hidden;
    }
    .publi-970x90 img, .oac-publi-retangulo-medio img, .oac-publi-meia-pagina img{
        width: 100%;
    }
    .oac-publi-retangulo-medio{
        padding: 14px 0;
    }
    .oac-video-direito:first-child{
        margin: 65px 0 30px 0;
    }
    .oac-video-direito section h1{
        font: 500 .6975em/130% "Raleway", sans-serif;
    }
    .bloco-container-2 .chamada .picture{
        width: 365px;
        height: 245px;
    }
    .bloco-container-2 .chamada section h1{
        font: bold .975em/130% "Raleway", sans-serif;
    }
    .bloco-container-2 .chamada section h1 span{
        padding-top: 10px;
    }
    .bloco-container-2 .chamada section h4{
        font: 0.645em/130% "Raleway", sans-serif;
    }
    .bloco-container-3 .chamada .picture{
        width: 100%;
        height: 140px;
    }
    .bloco-container-3 .chamada section h1 span{
        padding: 0px 20px 10px 20px;
    }
    .bloco-container-4 .chamada section h1, .bloco-container-5 .chamada section h1{
        font: bold .775em/130% "Raleway", sans-serif;
    }
    .bloco-container-6 .chamada .picture{
        width: 100%;
    }
    .bloco-container-6 .chamada section h3{
        bottom: 0;
        left: -2px;
        top: -2px;
    }
    .oac-populares .sub-editorias a{
        font-size: 12px;
    }
    .oac-mais-lidas ol li .chamada span{
        text-align: left;
    }

}

/* Rules mobile 767px */
@media only screen and (max-width : 768px) {
    .publi-970x90{
        overflow-x: hidden;
    }
    .publi-970x90 img, .oac-publi-retangulo-medio img, .oac-publi-meia-pagina img{
        width: 100%;
    }
    .div-gpt-ad-1522019374350-0 #google_image_div .img_ad{
        width: 100% !important;
    }
    .oac-ic_full{
        display: block;
        width: 170px;
        margin-left: -20px;
    }
    .oac-ic_mobile{
        display: none;
    }
    .oac-header{
        background: #306232;
        width: 100%;
        height: 60px;
        transition: all 0.4s ease-out;
        margin-bottom: 20px;
    }
    .oac-topo-reduzido .oac-logotipo img:first-child{
        width: 170px;
        margin-left: -20px;
        display: block;
    }  
    .oac-header .header-align-items-center{
        margin: 0;
    }
    .oac-header .oac-menu{
        margin-top: 10px;
    }
    .oac-header .oac-logotipo{
        margin-top: 10px;
    }
    .oac-header .oac-acesso-rapido{
        height: 60px;
    }
    .oac-header .oac-menu-acesso-rapido li:first-child{
        display: inline-block;
        margin-right: 0;
    }
    .oac-menu-acesso-rapido li:first-child + li{
        padding: 22px 0px;
    }
    .oac-menu-acesso-rapido li:nth-child(3){
        margin-left: 0;
    }
    .oac-header .oac-menu-acesso-rapido li span{
        display: none;
    }
    .oac-header .m-ver-mais .dropdown{
        top: 9px;
    }
    .m-ver-mais .dropdown{
        width: 320px;
        right: -110px;
        height: auto;
    }
    .oac-destaque-esquerdo{
        height: 350px;
    }
    .oac-destaque .titulo h1{
        font-size: .9em;
    }
    .oac-destaque-direito{
        height: 165px;
    }
    .oac-destaque-direito .titulo h1{
        font-size: .7em;
    }
    .bloco-container-1 .chamada .picture{
        width: 40%;
        height: 200px;
    }
    .bloco-container-1 .chamada section h1{
        font: bold .9575em/130% "Raleway", sans-serif
    }
    .bloco-container-1 .chamada section h4{
        font: 0.675em/130% "Raleway", sans-serif;
    }
    .oac-video-direito section h1{
        font: 500 .5975em/130% "Raleway", sans-serif;
    }
    .bloco-container-2 .chamada .picture{
        width: 50%;
    }
    .bloco-container-4 .chamada .picture{
        width: 40%;
    }
    .bloco-container-5 .chamada .picture{
        width: 25%;
    }
    .footer-bar h1{
        font: bold 20px/75% 'Raleway',sans-serif;
    }
    .footer-bar .icons{
        margin-left: 205px;
        margin-top: 10px;
    }
    footer{
        margin-top: 125px;
    }
}

/* Rules mobile 320px and 480px */
@media only screen and (max-width: 480px) {
    .publi-970x90{
        overflow-x: hidden;
    }
    .publi-970x90 img, .oac-publi-retangulo-medio img, .oac-publi-meia-pagina img{
        width: 100%;
    }
    .div-gpt-ad-1522019374350-0 #google_image_div .img_ad{
        width: 100% !important;
    }
    .oac-ic_full, .oac-topo-reduzido .oac-logotipo img:first-child{
        display: none;
    }
    .oac-ic_mobile{
        display: block;
        width: 120px;
        margin-left: -20px;
    }
    .oac-header{
        background: #306232;
        width: 100%;
        height: 60px;
        transition: all 0.4s ease-out;
        margin-bottom: 20px;
    }
    .oac-topo-reduzido .oac-logotipo img:first-child + img{
        width: 120px;
        margin-left: -20px;
        display: block;
    }   
    .oac-header .col-sm-4{
        width: 33.33%
    }
    .oac-header .header-align-items-center{
        margin: 0;
    }
    .oac-header .oac-menu{
        margin-top: 20px;
    }
    .oac-header .oac-menu i{
        font-size: 24px;
    }
    .oac-header .oac-logotipo{
        margin-top: 20px;
    }
    .oac-header .oac-acesso-rapido{
        height: 60px;
    }
    .oac-header .oac-menu-acesso-rapido li,
    .oac-header .oac-menu-acesso-rapido li:first-child + li{
        display: inline-block;
    }
    .oac-menu-acesso-rapido li:first-child + li{
        display: none !important;
    }
    .oac-header .oac-menu-acesso-rapido li:first-child{
        display: none;
        margin-right: 0;
        padding: 22px 4px;
    }
    .oac-header .oac-menu-acesso-rapido li span{
        display: none;
    }
    .oac-header .m-ver-mais .dropdown{
        top: 9px;
    }
    .m-ver-mais .dropdown{
        width: 320px;
        right: -230px;
        min-height: 1000px;
    }
    .m-ver-mais .dropdown .m-ico-dropdown:last-child{
        margin-bottom: 50px;
    }
    .oac-destaque-esquerdo{
        height: 260px;
        margin-bottom: 15px;
    }
    .oac-destaque .titulo h1{
        font-size: 1em;
    }
    .bloco-container-1 .chamada .picture{
        width: 100%;
    }
    .bloco-container-1 .chamada section h1{
        font: bold 0.975em/130% "Raleway", sans-serif;
    }
    .bloco-container-1 .chamada section h1 span{
        padding: 22px 20px 0 20px;
    }
    .bloco-container-1 .chamada section h3{
        position: absolute;
        top: -1px;
    }
    .bloco-container-1 .chamada section h4{
        font: 0.675em/130% "Raleway", sans-serif;
    }
    .bloco-container-2 .chamada .picture{
        width: 100%;
        height: 245px;
    }
    .bloco-container-2 .chamada section h1{
        font: bold 0.975em/130% "Raleway", sans-serif;
    }
    .bloco-container-2 .chamada section h4{
        font: 0.675em/130% "Raleway", sans-serif;
    }
    .bloco-container-3 .chamada .picture, .bloco-container-4 .chamada .picture, .bloco-container-5 .chamada .picture, .bloco-container-6 .chamada .picture{
        width: 100%;
        height: 180px;
    }
    .container-video{
        height: 840px;
    }
    .oac-video-esquerdo{
        height: 310px;
        margin: 15px 0;
    }
    .oac-video .titulo h1{
        font-size: 0.8em;
    }
    .oac-video-direito:first-child{
        margin: 10px 0 30px 0;
    }
    .oac-video-direito section h1{
        font: 500 .575em/130% "Raleway", sans-serif;
    }
    .oac-populares .sub-editorias a{
        font-size: 11px;
        padding: 10px;
        background: #CCC;
        margin-bottom: 5px;
        margin: 0 0 4px;
    }
    .oac-cat .itens{
        margin: 0 0 6px;
    }
    .oac-cat .itens li a .imagem{
        margin: 0;
    }
    .oac-cat .itens li a .imagem img{
        width: 100%;
    }
    .oac-cat .itens li .legenda{
        display: inline-block;
        padding: 12px 0 0;
    }
    .oac-article .header{
        margin: 0 auto 20px;
    }
    .oac-article .header h1{
        font: 600 20px/120% "Raleway", serif;
    }
    .oac-article .header h2{
        font-size: 14px;
    }
    .oac-article .compartilhar li, .oac-article .compartilhar-footer li{
        margin-bottom: 10px;
    }
    .oac-article .article-text p, .oac-page .page-text p, .oac-article .article-text ul li, .oac-page .page-text ul li{
        font-size: 14px;
        line-height: 24px;
    }
    .oac-article .article-text ul li, .oac-page .page-text ul li{
        margin-bottom: 6px;
    }
    .footer-bar h1{
        font: bold 14px/100% 'Raleway',sans-serif;
        margin-left: 35px;
        margin-bottom: 20px;
    }
    .footer-bar .icons{
        margin-left: 80px;
    }
    footer{
        margin-top: 160px;
    }
    footer ul li{
        display: inline-table;
    }
}

/* Rules DFP and Adsense*/
.dfp{
    margin: 0 auto; 
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }